*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #f4f9ff;
}
.wrapper{
    max-width: 800px;
    margin: 48px auto;
    background: #ffffff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(69, 69, 69, 0.31);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
}
header h1{
    font-size: 36px;
    line-height: 40px;
    color: #4742f5;
    margin-bottom: 8px;
}
header h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #616679;
}
header p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #808080;
    margin-top: 8px;
}
.block{
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
}
.pers-data{
    background: #eff3ff;
    margin-top: 20px;
}
.pers-data h2{
    color: #323567;
}
.topic{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}
.data-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 16px;
}
.pers-info{
    background: #f8f5ff;
}
.pers-info h2{
    color: #3e2e5b;
}
.info-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 16px;
}
.info-card:nth-child(3){
    grid-column: 1/-1;
}
.dop-info{
    background: #fdf3fb;
}
.dop-info h2{
    color: #56205a;
}
.dop-info-grid{
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    gap: 16px;
}
.dop-info-card:nth-child(3){
    grid-column: 1/-1;
}
.dop-info-card:nth-child(4){
    grid-column: 1/-1;
}
article input{
    width: 100%;
    padding: 12px 16px;
    border-radius: 5px;
    border: 2px solid #b8b8b8;
}
article input:hover{
    border: 2px solid #505050;
}
article textarea{
    width: 100%;
    padding: 12px 16px;
    border-radius: 5px;
    border: 2px solid #b8b8b8;
}
article textarea:hover{
    border: 2px solid #505050;
}
article select{
    width: 100%;
    padding: 12px 16px;
    border-radius: 5px;
    border: 2px solid #b8b8b8;
}
article select:hover{
    border: 2px solid #505050;
}
.file{
    text-decoration: none;
}
.label{
    background: #f9fafc;
}
.submit{
    width: 100%;
    padding: 16px 32px;
    background: #4c3ef6;
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
}
.submit:hover{
    cursor: pointer;
    background: #2f1efa;
}
footer{
    background: #eff6ff;
    margin-top: 32px;
    padding: 16px;
    border-radius: 15px;
}
footer h2{
    font-size: 18px;
    line-height: 27px;
    color: #173f7c;
    margin-bottom: 8px;
}
footer ul li{
    color: #455691;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}
input[type="file"]::-webkit-file-upload-button {
    background: transparent;
    border: none;
}
.file{
    background: #ffffff;
}